<?xml version="1.0"?>
<launch>

  <!-- Send the Professor's Robot URDF to param server -->
  <param name="robot_description" command="cat '$(find professor_robot)/urdf/my__robot.urdf'"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  
  <!-- Launch RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find professor_robot)/launch/professor_robot.rviz" required="false"/>

</launch> 